// Blog post styles.
/*
 * This presupposes that you use the .post class for decorating
 * blog posts.  Look at any post on <http://rt38.org> for examples
 * of this in the wild.
 */
.post {
  & > header {
    h1, p {
      text-align: left;
    }
    h1 {
      @include the-font-size($chain-h2);
      line-height: $chain-h2;
      font-weight: 400;
      margin: 0;
      border-bottom: 1pt solid $chain-orange;
    }
    p {
      @include the-font-size($chain-sm);
      em {
        font-style: normal;
      }
    }
  }
  & > footer {
    padding-top: 8pt;
    p {
      line-height: $chain-basesize;
    }
  }
  margin-bottom: 1.5rem;
}

.infobox {
  display: flex;
  align-items: center;
  p.meta {
    padding: 0;
  }
  img.contributor-thumb {
    margin: 0 0.5rem 0 0;
    height: 48px;
    width: auto;
    border-radius: 50%;
  }
}

.post-excerpt {
  padding: 1.0rem 0;
  &:first-child {
    margin-top: 0;
  }
}

ul {
  margin-left: 3rem;
}
ol {
  margin-left: 3rem;
}
code {
  background-color: lighten($chain-orange, 48%);
  color: $chain-black;
  padding: 0 0.2rem;
}
pre, pre.terminal {
  border: none;
  border-radius: 0;
  margin: 0;
  background-color: white;
  code {
    border: none;
    background-color: inherit;
    padding: 0;
  }
  border: 1px solid #000;
}

span.chain-endmark {
  font-weight: bold;
  font-style: italic;
  margin-left: 1.5ex;
  color: $chain-orange;
  &:after {
    content: '\20de';
    font-style: normal;
    color: $chain-purple;
    margin: -2px;
  }
}

span.title.chain-endmark {
  &:after {
    margin: -9px;
  }
}

// Via http://jessica-eldredge.com/2014/01/26/headings-with-lines/.
.chain-section-separator {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  color: $chain-orange;
  padding: 0.2rem 0;
  margin: -15px 0;
  &:before, &:after {
    background-color: $chain-orange;
    content: '\a0';
    flex-grow: 1;
    height: 1px;
    position: relative;
    top: 1rem;
  }
  &:before {
    margin-right: 1px;
  }
  &:after {
    margin-left: 1px;
  }
}

blockquote {
  border-color: $chain-orange
}

$oddrow: $chain-white;
$evenrow: #eee;

thead tr {
  background-color: $evenrow;
  border-bottom: 2pt solid black;
}
tr {
  background-color: $oddrow;
  &:hover {
    background-color: darken($oddrow, 5%);
  }
  &:nth-child(even) {
    background-color: $evenrow;
    &:hover {
      background-color: darken($evenrow, 5%);
    }
  }
}
td {
  border-top: 1pt solid black;
  border-collapse: collapse;
  padding: 0 4pt;
}

.chain-site-alert {
  background-color: $chain-blue;
  color: white;
  padding: 1rem;
  border-radius: 0.5rem;
  margin-bottom: 0.5rem;
  p {
    margin: 0;
  }
  a:link, a:visited {
    color: white;
  }
}

