---
layout: default
title: "Route 38 Branding Bible"
description: "The brand appearance of Route 38, presented for all and sundry to see."
---
:markdown
  # Route 38 Branding Bible

  This document is the online version of my printed (and brief) _Route 38 Brand Bible_.  It illustrates the preferred appearance of all elements of the site, and is subject to change at any time as my tastes and whims evolve.

%h2 Images and Captions

:markdown
  Images are presented here with captions to illustrate their significance to the article.  Images can be full-width or pulled right.

%h3 Full-Width Example

%figure.col-xs-12
  %img.img-responsive{src: "/art/500-football-refs.jpg", alt: "Football officials appear to be holding a vote.  Five for, two against."}
  %figcaption.col-xs-12
    %p
      Umpire: All right, that's five votes for going to Moe's after the game.  I'm up for Red Lobster; what about you, Bob?
    %p
      Credit: Belinda Hankins Miller/Wikimedia Commons.

:markdown
  ### Full-Width Code

  This is the code generating this figure:

  {% highlight haml %}
  %figure.col-xs-12
    %img.img-responsive{src: "/art/500-football-refs.jpg", alt: "Football officials appear to be holding a vote.  Five for, two against."}
    %figcaption.col-xs-12
      %p
        Umpire: All right, that's five votes for going to Moe's after the game.  I'm up for Red Lobster; what about you, Bob?
      %p
        Credit: Belinda Hankins Miller/Wikimedia Commons.
  {% endhighlight %}

%h3 Pull-Right Example

%figure.col-xs-12.col-sm-4.pull-right
  %img.img-responsive{src: "/art/410-chris-davis.jpg", alt: "Chris Davis (#11 AUB) runs the ball downfield after Alabama misses the field goal."}
  %figcaption.col-xs-12
    %p
      Rod Bramblett, Auburn IMG Sports Network: Auburn's gonna win the football game!  Auburn's gonna win the football game!  He ran the missed field goal back!  He ran it 109 yards!
    %p
      Credit: AP Photo/Dave Martin

:markdown
  *Kick Bama Kick* (alternatively known as the "Kick Six") is the nickname of a memorable college football game between the Auburn Tigers and the Alabama Crimson Tide in the 78th Iron Bowl in which Auburn scored two touchdowns in the final 32 seconds of the game to upset then AP ranked #1 Alabama 34-28.  Alabama kickers missed three field goals and had one field goal and a punt blocked by Auburn.

  The game was played on November 30, 2013 at Jordan-Hare Stadium in Auburn, Alabama featuring No. 1-ranked and two-time defending national champion Alabama (11-0, 7-0 in the SEC) as a 10-point favorite over home-standing No. 4-ranked Auburn (10-1, 6-1 in the SEC).  The winner would clinch the SEC Western Division championship.  The game posted an 11.8 television rating during the final half hour, the highest rating ever achieved during a college football broadcast at that time.

  With 32 seconds remaining, Auburn tied the game 28-28 on a 39-yard touchdown pass from Marshall to Coates.  With one second remaining in regulation, Alabama freshman Adam Griffith's 57-yard field goal attempt fell short.  Auburn's Chris Davis was positioned at the back of the end zone and caught the errant kick, returning it 109 yards (100 yards under NCAA scoring rules) to the opposite end zone and giving Auburn the upset victory.  Davis' touchdown tied the longest return of a missed field goal in NCAA college football history.  Many sports writers and fans alike argue that this play is the single greatest moment in college football history.

  (Text from Wikipedia.)

  ### Pull-Right Code

  This is the code generating the pull-right figure:

  {% highlight haml %}
  %figure.col-xs-12.col-sm-4.pull-right
    %img.img-responsive{src: "/art/410-chris-davis.jpg", alt: "Chris Davis (#11 AUB) runs the ball downfield after Alabama misses the field goal."}
    %figcaption.col-xs-12
      %p
        Rod Bramblett, Auburn IMG Sports Network: Auburn's gonna win the football game!  Auburn's gonna win the football game!  He ran the missed field goal back!  He ran it 109 yards!
      %p
        Credit: AP Photo/Dave Martin
  {% endhighlight %}

%h2 Blockquotes

:markdown
  Blockquotes should be used judiciously to quote long spans of text.  The final citation at the end should link to the text, if it is online.

  ### Blockquote Example

  > Now the whole world had one language and a common speech.  As people moved eastward, they found a plain in Shinar and settled there.
  >
  > They said to each other, "Come, let's make bricks and bake them thoroughly."  They used brick instead of stone, and tar for mortar.  Then they said, "Come, let us build ourselves a city, with a tower that reaches to the heavens, so that we may make a name for ourselves; otherwise, we will be scattered over the face of the whole earth."
  >
  > But the LORD came down to see the city and the tower the people were building.  The LORD said, "If as one people speaking the same language they have begun to do this, then nothing they plan to do will be impossible for them.  Come, let us go down and confuse their language so they will not understand each other."
  >
  > So the LORD scattered them from there all over the earth, and they stopped building the city.  That is why it was called Babel -- because there the LORD confused the language of the whole world.  From there the LORD scattered them over the face of the whole earth.
  >
  > <cite>Genesis 11:1-9 (NIV, [at BibleGateway][0])</cite>

  [0]: http://www.biblegateway.com/passage/?search=Genesis+11

%h2 Pull Quotes

:markdown
  Pull quotes are blockquotes pulled right to highlight significant parts of an article.  I have not used pull quotes in the past at Route 38, but I plan to do so going forward.

  ### Pull Quote Example

.pull-right.col-xs-12.col-sm-4.pull-quote
  :markdown
    > We can by the principle of induction prove that a loop is correct ... by proving it is correct for one execution.

:markdown
  Since the bodies of loops encompass state transition sequences of their own, we can by the principle of induction prove that a loop is correct regardless of the number of executions by proving it is correct for one execution, with the proviso that the predicate under which the loop operates is also correct, which can be proved with predicate logic. We operate under the assumption that subroutines represent execution states and that function calls represent state transitions. This makes Cleanroom amenable to being used with C, Ada, Perl, Ruby, C++, and other languages that support procedural programming. In systems with object orientation, such as Java, calling methods on objects replaces calling subroutines. Any other important difference is merely syntactic in nature.

%h2 Lists

:markdown
  Lists are used, obviously, for presenting content in list format.  Unordered lists are customiarily used for content presentable in such fashion that the order is not important.  An example, this being of Britcoms I have watched:

  * _Are You Being Served?_
  * _Last of the Summer Wine_
  * _Keeping Up Appearances_
  * _Fawlty Towers_
  * _Waiting For God_
  * _My Family_
  * _Coupling_
  * _Grace & Favour_

  Ordered lists are used where order is significant.  A custom script at Route 38 makes lists start from zero as the Creator intended.  Example of an ordered list describing what ought to be your favorite _passe-temps_:

  0. Locate the power button and turn on the computer.

  1. Type in your username and password when prompted.

  2. Open Google Chrome and navigate to <http://www.rt38.net>.

  3. Keep calm.

  4. Read Route 38.

%h2 Code Snippets

:markdown
  Code snippets are used at Route 38 to illustrate concepts in posts about programming and other languages.  As such, since this is a blog about programming by a programmer, they are indispensable.  Code snippets should follow the general code style guidelines in the Master Notebook with a few changes:

  * Lines should be shorter to facilitate reading on mobile devices, particularly the narrow screens of smartphones, without horizontally scrolling.

  * Snippets should be brief -- no more than twenty lines -- unless such length is warranted.

  * Abstracting languages like Sass and Haml should be used instead of CSS and HTML, in the name of brevity.