<footer id='siteFooter'>
    <div class='meta'>
        <p>
            Copyright &copy; 2022 by <a href='//waellison.io'>William Ellison</a>. &bull;
            <a href='/terms'>Terms</a> &bull; <a href='/taxonomy'>Index</a>
            &bull; <a href='/colophon'>Colophon</a>
        </p>
    </div>
    <div class="socialBox">
        <a href="//github.com/waellison" class="socialBtn githubLink">
            <i class="fa fa-github-alt"></i>
        </a>
        <a href="//linkedin.com/in/tnwae" class="socialBtn linkedinLink">
            <i class="fa fa-linkedin"></i>
        </a>
        <a href="//twitter.com/waedotpy" class="socialBtn twitterLink">
            <i class="fa fa-twitter"></i>
        </a>
        <a href="//instagram.com/nobettershoulder" class="socialBtn instaLink">
            <i class="fa fa-instagram"></i>
        </a>
        <a href="mailto:waellison@gmail.com" class="socialBtn emailLink">
            <i class="fa fa-envelope"></i>            
        </a>
        <a href="//waellison.blog" class="socialBtn blogLink">
            <i class="fa fa-globe"></i>
        </a>
</footer>
