<header id='navBar'>
    <nav>
        <div id="navBarBrand">
            <a class="navLink" href="/">Route 38</a>
        </div>
        <div id="navBarBody">
            <menu id="topLevelNavMenu">
                <li>
                    <a class="navLink" href='/' title='Return to the main page.'>Blog</a>
                </li>
                <li>
                    <a class="navLink" href='/authors/wae' title='A little bit about me.'>About Me</a>
                </li>
                <li>
                    <a class="navLink"  href='//waellison.io' title='Check out my resume!'>Hire Me</a>
                </li>
            </menu>
        </div>
    </nav>
</header>
