<header id='navBar'>
    <nav>
        <div id="navBarBrand">
            <a class="navLink" href="/">William Ellison('s blog)</a>
        </div>
        <div id="navBarBody">
            <menu id="topLevelNavMenu">
                <li>
                    <a class="navLink" href='/' title='Return to the main page.'>Home</a>
                </li>
                <li>
                    <a class="navLink"  href='//waellison.io/resume' title='Check out my resume!'>Hire Me</a>
                </li>
                <li>
                    <a class="navLink"  href='//waellison.io/portfolio' title='Check out my portfolio!'>My Work</a>
                </li>
            </menu>
        </div>
    </nav>
</header>
