.widget.books-widget
  %h3 
    %i.fa.fa-book
    Recent Books
  %dl.book-list
    %dt Jane Eyre (Charlotte Bront&euml;, 1847)
    %dd 
      A coming-of-age tale about the rare liberated Victorian woman.
      I'm getting a lot more out of this one as an adult than I did as
      a dumb teenager.
    %dt What Color Is Your Parachute? (Richard Bolles, 2012)
    %dd
      The best career advice there is, period.
