%a{href: "https://debian.org", target: "_blank", rel: "nofollow"}
  %img.img-responsive{src: "/art/ads/debian.png", title: "Debian: OS of choice for Marsh Project and tnwae.us.  Download today!", alt: "Debian: The ultimate operating system.  Download today!"}
