.copyright
  %p.chain-sm.meta
    Copyright &copy; 2016 by W. Anthony Ellison.  Licensed under
    =succeed "." do
      %a{href: "/terms/#license"} various terms
    Made with love in Knoxville using Sublime Text, Jekyll, and Gulp on Debian.
  %p.chain-sm.meta
    =succeed " • " do
      %a{href: "/terms/"} Terms and conditions
    %a{href: "/privacy/"} Privacy policy

.social
  %div.hidden-print.socialbox
    {% social_networks %}
