.copyright.meta
  :markdown
    Copyright © 2017 by W. Anthony Ellison. &bull; 
    [Terms](/terms) &bull; [Colophon](/colophon) &bull;
    Valid <i class='fa fa-html5'></i> and <i class='fa fa-css3'></i>

.social
  %div.hidden-print.socialbox
    {% social_networks %}

