%footer#site-footer
  .copyright
    %p.meta
      Copyright &copy; 2012-2021 by
      = succeed "." do
        %a{href: "//rt38.net"} William Ellison
      %br
      %a{href: "/terms"} Terms &amp; Conditions
      &bull;
      %a{href: "/taxonomy"} Index
      &bull;
      %a{href: "/colophon"} Colophon

  .social.hidden-print
    {% social_networks %}
