.copyright.meta
  :markdown
    Copyright © 2017 by W. Anthony Ellison.  Licensed under
    [various terms](/terms/#license).  Made with love and care
    in Knoxville using [Vim](http://vim.org), [Jekyll](https://jekyll-rb.com),
    and [Gulp](http://gulpjs.com) on [Slackware](http://www.slackware.com).

    [Terms](/terms) &bull; [Colophon](/colophon) &bull; Version {% build_timestamp %}

.social
  %div.hidden-print.socialbox
    {% social_networks %}

