.widget.haps-widget
  %h3
    %i.fa.fa-newspaper-o
    Happenings
  {% for mypost in site.posts | limit: 3 %}
  %h4
    %a{href: "{{ mypost.url }}"}
      {{ mypost.title }}
    ({{ mypost.date | date: "%b. %Y" }})
  %p
    {{ mypost.excerpt }}
  {% endfor %}

