%nav
  %span.title.chain-endmark.chain-h4{title: "tnwae.us"}
    a
  .navbar
    %menu
      %li
        %a#home-link.extra{href: "/"} Home
      %li
        %a#resume-link.extra{href: "/resume"} Résumé
      %li
        %a#machines-link.extra{href: "//machineroom.tnwae.us"} Machine Room
