.blurb
  %p.title
    %a{href: "/"} {{ site.name }}
  %p.slogan
    {{ site.description }}

%nav
  .navbar
    %menu
      %li
        %a.extra{href: "/authors/wae", title: "A little bit about me."} About Me
      %li.hireme
        %a.extra{href: "//tnwae.us/resume", title: "Check out my resume!"} Hire Me
      %li
        %a.extra{href: "//github.com/tnwae", title: "Use the source, Luke."} GitHub
      %li
        %a.extra{href: "//linkedin.com/in/tnwae", title: "Network with me?"} LinkedIn
      %li
        %a.extra{href: "//twitter.com/tnwae", title: "vsdev, in short form."} Twitter

