.blurb
  %p.title
    %a{href: "/"} Very Special Developments
  %p.slogan
    not a big truck, but a series of tubes

%nav
  .navbar
    %menu
      %li
        %a.extra{href: "/authors/wae", title: "A little bit about me."} About
      %li
        %a.extra{href: "/colophon", title: "How this shit was made."} Colophon        
      %li
        %a.extra{href: "//tnwae.us", title: "Personal status and updates."} Status
      %li
        %a.fa.fa-github.extra{href: "//github.com/tnwae", title: "Use the source, Luke."}
      %li
        %a.fa.fa-twitter.extra{href: "//twitter.com/tnwae", title: "Twitter"}
