%header#site-header
  %nav.navbar
    %img.brand{src: "/art/logo.png", alt: "{{ site.name }} logo"}
    %menu
      %li
        %a{href: "/", title: "Return to the main page."} Blog
      %li
        %a{href: "/authors/wae", title: "A little bit about me."} About Me
      %li
        %a{href: "/resume", title: "Check out my resume!"} Hire Me
      %li
        %a{href: "/portfolio", title: "See some of the things I've done."} Portfolio
