%nav
  %span.title.chain-h4{title: "the online home of W. Anthony Ellison"}
    tnwae.us
  .navbar
    %menu
      %li
        %a#home-link.extra{href: "/"} Home
      %li
        %a#resume-link.extra{href: "/resume"} Résumé
      %li
        %a#portfolio-link.extra{href: "/portfolio"} Portfolio
      %li
        %a#blog-link.extra{href: "//vsdev.org"} Blog
