%nav
  %a.title.chain-h4{title: "the online home of W. Anthony Ellison", href: "/"}
    tnwae.us
  .navbar
    %menu
      %li
        %a#resume-link.extra{href: "/resume", title: "What I've done."} Résumé
      -#%li
        %a#portfolio-link.extra{href: "/portfolio", title: "The kind of work I can do."} Portfolio
      %li
        %a#update-link.extra{href: "/updates", title: "The latest dirt."} Updates
      %li
        %a#blog-link.extra{href: "//vsdev.org", title: "Read the blog."} Blog
