%nav
  %span.title.chain-h4{title: "the online home of W. Anthony Ellison"}
    tnwae.us
  .navbar
    %menu
      %li
        %a#home-link.extra{href: "/"} Home
      %li
        %a#resume-link.extra{href: "/resume", title: "My work history."} Résumé
      %li
        %a#portfolio-link.extra{href: "/updates", title: "Updates from the tnwae-verse."} Updates
      %li
        %a#blog-link.extra{href: "//vsdev.org", title: "Read the blog!"} Blog
