.widget.music-widget
  %h3
    %i.fa.fa-headphones
    Recent Albums
  %dl.album-list
    -#------------------------------------------------------
    %dt There Goes Rhymin' Simon (1973/Columbia)
    %dd
      Making its rounds on my turntable once more.  Features my
      favorite Paul Simon love song that isn't "Kathy's Song."
    -#------------------------------------------------------
    %dt Aja (1977/ABC)
    %dd
      A masterpiece of jazz rock, featuring my favorite Steely Dan
      song of all time, "Deacon Blues."
    -#------------------------------------------------------
    %dt The Nightfly (1982/WB)
    %dd
      An awesome debut album by Donald Fagen, half of Steely Dan.
    -#------------------------------------------------------
    %dt The Joshua Tree (1987/Island)
    %dd
      The only U2 album I care about, even slightly.

