{% if page.github %}
{% include gh-ribbon.html %}
{% endif %}
%article.post
  %header
    {% if page.image %}
    .post-hero
      %h1
        %a{:href => "{{ post.url }}"} {{ page.title }}
      {% if page.description %}
      %p {{ page.description }}
      {% endif %}
    {% else %}
    %h1
      %a{:href => "{{ post.url }}"} {{ page.title }}
    {% endif %}
  {{ content }}
