.widget.recent-posts
  %h3 Recent Posts
  {{ posts | limit: 10 }}

.widget.hammagramma
  %h3
    %a{href: "https://instagram.com/t90photog"} Photos
  %script{src: "//lightwidget.com/widgets/lightwidget.js"}
  %iframe.lightweight-widget{src: "//lightwidget.com/widgets/c88b39f7d84059e09a92b9cff08bfa53.html", scrolling: "no", allowtransparency: "true", style: "width: 100%; border: 0; overflow: hidden;"}

.widget.ad
  %h3 Ad
  %a{href: "https://slackware.com", target: "_blank", rel: "nofollow"}
    %img.img-responsive{src: "/art/ads/slackware.png", title: "Slackware: Because nothing else comes close.  Download today!", alt: "Slackware: Demand excellence, demand Slack.  Download today!"}
