.widget.recent-posts
  %h3 Recent Updates
  %ul
    {% for post in site.posts %}
    %li
      %a{href: "{{ post.permalink }}"} {{ post.title }}
    {% endfor %}

.widget.ad
  %h3 Ad
  %a{href: "https://slackware.com", target: "_blank", rel: "nofollow"}
    %img.img-responsive{src: "/art/ads/slackware.png", title: "Slackware: Because nothing else comes close.  Download today!", alt: "Slackware: Demand excellence, demand Slack.  Download today!"}

