!!!
%html{lang: "en"}
  %head
    %meta{charset: "utf-8"}
    %meta{generator: "Jekyll 4.2.1"}
    %title= "{{ site.name }} | {{ page.title }}"

    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}

    %link{href: "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", rel: "stylesheet", type: "text/css"}
    %link{href: "/assets/styles/style.css", rel: "stylesheet", type: "text/css"}

    {% if page.supplementary_css %}
    %link{href: "/assets/styles/{{ page.supplementary_css }}.css", rel: "stylesheet", type: "text/css"}
    {% endif %}
  %body
    {% include header.html %}

    %main#main-content
      {{ content }}

    {% include footer.html %}
