.widget.trading-post-widget
  %h3
    %i.fa.fa-handshake-o
    Trading Post
  :markdown
    #### For Purchase (as finances permit)
    
    * Canon FD 24/2.8 SSC, 35/2.0 SSC, and 200/2.8 SSC camera lenses
    * 3x DDR3-1333 Crucial Ballistix Sport RAM
    * Vinyl records listed [here](/etc/vinyl-interests)
    * Canon AE-1 or AT-1 camera body, no lens
    * Other stuff listed [here](/etc/wanted)

