

.project {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.project div {
    flex: 1;
    padding-right: 1rem;
}

img.screenshot {
    position: relative;
    height: 8rem;
}

@media screen and (max-width: 767px) {
    .project {
	flex-direction: column;
    }

    img.screenshot {
	height: auto;
    }
}
