/*
 Styles for the resume pages.  These styles should not be used or declared
 elsewhere.
 */

.skillbox {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
    margin: 0 -1rem;
}

.skillbox div h3 {
    margin: 0;
}

.skillbox ul {
    list-style-type: none;
    margin-top: 0;
    padding-left: 0;
}

.skillbox ul li {
    line-height: 28px;
    display: flex;
    align-items: center;
}

.skillbox ul li img {
    margin-right: 5px;
}

.skillbox div {
    flex-basis: calc(50% - 2rem);
    width: calc(50% - 2rem);
    padding: 0 1rem;
}

@media (max-width: 800px) {
    .skillbox div {
        flex-basis: 100%;
        width: 100%;
        padding: 0;
    }

    .skillbox {
        margin: 0;
    }
}

.skill-icon {
    height: 20px;
    width: 20px;
}

ul.skills-learned-box {
    list-style-type: none;
    padding-left: 0;
    margin-left: 0;
}

ul.skills-learned-box li {
    display: inline-block;
    font-size: 9pt;
    background-color: #bbb;
    border-radius: 6px;
    height: 2rem;
    padding: 0 8px;
    font-family: "Montserrat", sans-serif;
    line-height: 2rem;
    margin-bottom: 4px;
}
