/*
    Route 38 2022 stylesheet.

    Copyright © 2021 William Ellison <waellison@gmail.com>.

    This work is free. You can redistribute it and/or modify it under
    the terms of the Do What The Fuck You Want To Public License,
    Version 2, as published by Sam Hocevar. See the COPYING file for
    more details.
 */

/**********************************************************************\
 * Welcome to the Route 38 stylesheet for 2022.  This file is roughly *
 * divided into eight sections, which you may search for with your    *
 * editor's search functionality.  Search for the word between square *
 * brackets to be taken to that section of the file.                  *
 *                                                                    *
 * - Imports                      [imports]                           *
 * - Global Variables             [globals]                           *
 * - Typography                   [type]                              *
 * - General Layout               [layout]                            *
 * - Header Layout                [header]                            *
 * - Content Layout               [content]                           *
 * - Footer Layout                [footer]                            *
 * - Hacks                        [hacks]                             *
\**********************************************************************/

/**********************************************************************\
 * [imports]                                                          *
\**********************************************************************/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400&display=swap');

/**********************************************************************\
 * [globals]                                                          *
\**********************************************************************/
:root {
  --orange: #ec7600;
  --purple: #421a90;
  --blue:   #0076ec;
  --green:  #69901a;
  --yellow: #ecc200;
  --red:    #ec0025;
  --white:  #faf6ff;
  --gray:   #7a767f;
  --gray-lt: #cac6cf;
  --black:  #1a161f;
  --container-pad: 0 1rem;
  box-sizing: border-box;
}

/**********************************************************************\
 * [type]                                                             *
\**********************************************************************/
:root {
  font-size: 20px;
  padding: 0;
  margin: 0;
}

* {
  font-family: Montserrat, Helvetica, Arial, sans-serif;
  text-rendering: optimizeLegibility;
  font-variant-ligatures: discretionary-ligatures;
}

p,
blockquote,
ul li,
ol li,
dd,
dt {
  line-height: 2rem;
  hyphens: auto;
  text-align: justify;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0.5rem;
  padding: 0;

}

p:first-child {
  margin-top: 0;
}

a {
  text-decoration: none;
}

a:link {
  color: var(--blue);
}

a:visited {
  color: var(--purple);
}

a:hover {
  color: var(--orange);
  text-decoration: underline;
}

/**********************************************************************\
 * [layout]                                                           *
\**********************************************************************/
body {
  background-color: var(--gray-lt);
  color: var(--black);
  display: grid;
  grid-template-columns: clamp(1rem, 18vw, 16rem) auto clamp(1rem, 18vw, 16rem);
  grid-template-rows: clamp(5rem, 10vh, 10rem) auto clamp(5.6667rem, 15vh, 10rem);
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

.footer-nav li:not(:last-child)::after {
  content: " \2726 ";
}

.meta {
  font-size: 0.75rem;
  font-style: italic;
}

/**********************************************************************\
 * [header]                                                           *
\**********************************************************************/
#site-header {
  display: grid;
  grid-template-columns: clamp(1rem, 18vw, 16rem) minmax(auto, 50ch) clamp(1rem, 18vw, 16rem);
  background-color: var(--black);
  color: var(--white);
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
}

.navbar {
  color: var(--white);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  grid-column-start: 2;
  grid-column-end: 3;
}

.navbar menu {
  list-style-type: none;
  padding: 0;
  margin: 0 0 0 1rem;
}

.navbar menu li {
  display: inline-block;
  background-color: var(--orange);
  border-radius: 0.5rem;
  padding: 0.5rem;
}

img.brand {
  height: clamp(5rem, 10vh, 10rem);
  width: auto;
  padding: 0;
  opacity: 0.5;
}

.navbar menu li a {
  color: var(--white);
  text-decoration: none;
}

/**********************************************************************\
 * [content]                                                          *
\**********************************************************************/
#main-content {
  grid-column-start: 2;
  grid-column-end: -2;
  padding: var(--container-pad);
}

.infobox {
  display: flex;
  align-items: center;
}

.contributor-thumb {
  border-radius: 50%;
  height: 4rem;
  width: 4rem;
  margin-right: 0.75rem;
}

/**********************************************************************\
 * [footer]                                                           *
\**********************************************************************/
#site-footer {
  display: grid;
  grid-template-columns: clamp(1rem, 18vw, 16rem) repeat(3, 1fr) clamp(1rem, 18vw, 16rem);
  background-color: var(--orange);
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 3;
  padding: var(--container-pad);
}

#site-footer .copyright {
  grid-column-start: 2;
  grid-column-end: 4;
}

#site-footer .social {
  grid-column-start: 4;
  grid-column-end: 5;
  justify-content: center;
  align-items: stretch;
  padding: 1rem;
  text-align: right;
}

.social .btn {
  color: white;
  text-decoration: none;
  border-radius: 0.5rem;
  padding: 0.5rem;
}

.btn.fa-linkedin {
  background-color: #007bb6;
}

.btn.fa-github {
  background-color: var(--black);
}

.btn.fa-envelope {
  background-color: var(--yellow);
}
