---
layout: default
---

<article class='post'>
    <header>
        <h1>
            <a href='{{ post.url }}'>{{ page.title }}</a>
        </h1>
        <div class='infobox'>
            <img class='contributor-thumb' src='//cdn.waellison.cf/pfps/pfp-256px.jpeg'>
            <p class='meta'>
                Posted on
                <time class='post-timestamp' datetime='{{ page.date | date_to_xmlschema }}'>
                    {{ page.date | date: "%A" }},
                    {% assign d = page.date | date: "%-d" %}
                    {% assign m = page.date | date: "%B"  %}
                    {% case m %}
                        {% when 'April' or 'May' or 'June' or 'July' %}{{ m }}
                        {% when 'September' %}Sept.
                        {% else %}{{ page.date | date: "%b" }}.
                    {% endcase %}
                    {% case d %}
                        {% when '1' or '21' or '31' %}{{ d }}<sup>st</sup>,
                        {% when '2' or '22' %}{{ d }}<sup>nd</sup>,
                        {% when '3' or '23' %}{{ d }}<sup>rd</sup>,
                        {% else %}{{ d }}<sup>th</sup>,
                    {% endcase %}
                    {{ page.date | date: "%Y" }}
                </time>
                by <a href='//waellison.io' target='_blank'>William</a>
                ({{ content | number_of_words }} words)
            </p>
        </div>
    </header>
    <main>
        {{ content }}
    </main>
    <footer>
        <p class='meta'>
            Bookmark the
            <a href='{{ page.permalink }}'>Permalink</a> if you wish.  This post filed under
            <a href='/taxonomy/#{{ page.category | slugify }}'>{{ page.category }}</a>.
        </p>
    </footer>
</article>

<div id='page-navigation'>
    {% if page.next.url %}
        <a href='{{page.next.url}}' title='Previous Post'>&lArr; {{page.next.title}}</a>
    {% endif %}
    {% if page.previous.url %}
        &nbsp;<i class='fa fa-gear orange'></i>&nbsp;
        <a href='{{page.previous.url}}' title='Next Post'>{{page.previous.title}} &rArr;</a>
    {% endif %}
</div>
